
<div class="container" >
    <div class="card" *ngFor="let cupon of cupons">
      <div class="main">
        <div class="co-img">
          <img
            src='{{ cupon.logo }}'
            alt=""
          />
        </div>
        <div class="vertical"></div>
        <button mat-raised-button	 class="buy" (click)="buyCupon(cupon)">Buy</button>

        <div class="content">
          <h2>{{ cupon.title }}</h2>
          <h1>{{ cupon.procent }} <span>Coupon</span></h1>
          <p>Valid till {{ cupon.valid }} </p>
          <h2>Price : {{ cupon.price }} <mat-icon> monetization_on</mat-icon></h2>

        </div>
      </div>
    </div>
  </div>
