<div class="main">
    <div>
    <mat-card-header>06:11:2022</mat-card-header>
    <mat-card class="chalange">
        <mat-card-title>Challenge of the day <mat-icon>star</mat-icon></mat-card-title>
        <mat-card-content>
            <p>Ride a bike to work</p>
            <div>
                <p>3</p>
                <mat-icon> monetization_on</mat-icon>
            </div>
        </mat-card-content>
    </mat-card></div>

    <mat-card class="tips">
        <mat-card-title>Tip of the day <mat-icon>invert_colors</mat-icon>
         </mat-card-title>
        <mat-card-content>
            <p>Refrain from using your dishwasher until you have a full load of dishes, and hold off running your washing machine until you have a full load of clothes. If you must run a smaller load of clothes, then be sure to adjust your water level to the size of your load.</p>
        </mat-card-content>
    </mat-card>

    <mat-tab-group>
        <mat-tab label="1">
            <mat-card class="recent">
                <mat-card-title>Study highlights the dominant role of light competition in grassland plant diversity
                 </mat-card-title>
                 <mat-card-content>
                    <img src="https://scx1.b-cdn.net/csz/news/800a/2022/importance-of-light-fo.jpg" alt="">
                    <p>Plants need light to grow. However, due to excess nutrients and/or the absence of herbivores, less light can reach lower vegetation layers in grasslands. Consequently, a few fast-growing species dominate and plant diversity declines. So far, this relationship has been established indirectly through experiments, but never directly by means of experimentally adding light in the field</p>
                    <a href="https://phys.org/news/2022-11-highlights-dominant-role-competition-grassland.html">link</a>
                </mat-card-content>
            </mat-card>
        </mat-tab>
        <mat-tab label="2">
            <mat-card class="recent">
                <mat-card-title>Study probes physiological mechanism of treeline formation from carbon allocation
                 </mat-card-title>
                 <mat-card-content>
                    <img src="https://scx1.b-cdn.net/csz/news/800a/2022/study-probes-physiolog.jpg" alt="">
                    <p>Subalpine larch (Larix chinensis) is an endemic coniferous tree distributed above 3,100 m above sea level and forms treeline ecotone at the elevation of 3,450 m above sea level in the Qinling Mountains of north-central China. However, two prevailing but competing hypotheses (i.e., the carbon limitation hypothesis and the growth limitation hypothesis) based on carbon supply/demand balance cannot yet provide a broad explanation for the formation of alpine treeline.</p>
                    <a href="https://phys.org/news/2022-11-probes-physiological-mechanism-treeline-formation.html">link</a>
                </mat-card-content>
            </mat-card>
        </mat-tab>
        <mat-tab label="3">
            <mat-card class="recent">
                <mat-card-title>Serbia as an ecological blind spot of Europe, what is needed for harmonization with the EU?

                 </mat-card-title>
                 <mat-card-content>
                    <img src="https://europeanwesternbalkans.com/wp-content/uploads/2021/12/Izvor-Beogradska-otvorena-skola-min-1024x683-1.jpg" alt="">
                    <p>“In 2001, the EU adopted the Large Combustion Plant Directive, and in 2010 it adopted the Industrial Emissions Directive. In those 10 years, large combustion plants were aligned with the first directive to apply stricter criteria. Serbia still hasn’t succeeded in implementing the Large Combustion Plant Directive, nor the National Emission Reduction Plan (NERP), which is a transitional measure, and a mitigating circumstance for the harmonization of old plants.”</p>
                    <a href="https://europeanwesternbalkans.com/2021/12/27/serbia-as-an-ecological-blind-spot-of-europe-what-is-needed-for-harmonization-with-the-eu/">link</a>
                </mat-card-content>
            </mat-card>
        </mat-tab>
      </mat-tab-group>
</div>
